NODE_ENV=development
PORT=3000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=dreamer_v2
DATABASE_PASSWORD=dreamer_v2
DATABASE_NAME=dreamer_v2
DATABASE_SYNC=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=dev-secret-please-rotate
JWT_EXPIRES_IN=7d
